<div style="position: absolute; top:80px; left:2px">
	<!-- BEGIN GENERIC ALL BROWSER FRIENDLY HTML FOR WINDOWS MEDIA PLAYER -->
	<object ID="MediaPlayer1" width=620 height=490
			classid="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95"
			codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701"
			standby="Loading Microsoft Windows Media Player components..."
			type="application/x-oleobject">
		<param name="FileName" value="http://sanfrancisco.granicus.com/ASX.php?view_id=14&clip_id=7617&r=730cd16e71d7293167664643307b352b&xp=y&intro=1&sn=sanfrancisco.granicus.com">
		<param name="ShowControls" value="1">
		<embed type="application/x-mplayer2"
			   pluginspage = "http://www.microsoft.com/Windows/MediaPlayer/"
			   src="mms://wm.microsoft.com/ms/sbnasfs/wmt/turtle28.asf"
			   name="MediaPlayer1"
			   width=160
			   height=112
			   ShowControls=1></embed>
	</object>
</div>
