<div id="bic-landing">	
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li><a href="http://sfdbi.org/building-inspection-commission/meetings" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">Current BIC Agenda</span></a></li>
				<li><a href="http://sfdbi.org/building-inspection-commission/meetings" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">BIC Meeting Minutes</span></a></li>
				<li><a href="http://sanfrancisco.granicus.com/ViewPublisher.php?view_id=14" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">BIC Meeting Video</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">The Building Inspection Commission (BIC)</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				To serve the City and County of San Francisco and the general public by ensuring that life and property within the City and County are safeguarded, and to provide a public forum for community involvement in that process. 
			</p>
			<p>
				As a policy-making and supervisory body mandated by the City Charter, the seven member citizen Building Inspection Commission (BIC) will manage the Department of Building Inspection (DBI) and the bodies subordinate to the Commission by overseeing the effective, efficient, fair and safe enforcement of the City and County's Building, Housing, Plumbing, Electrical, and Mechanical Codes, along with Disability Access Regulations. 
			</p>
		</div>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-info-circle">&nbsp; </span> About the BIC</h3>
		</div>
		<div class="panel-body">
			<p>
				The San Francisco Building Inspection Commission and the Department of Building Inspection were created by voter referendum in 1994. 
				The BIC was designed to provide representation for the various communities, which interact with the Building Department. 
				The seven different commission slots are filled by a structural engineer, a licensed architect, a residential tenant, a residential builder, 
				a residential landlord, a community based non-profit housing developer, and a member of the general public at large. 
				The BIC appoints the Director of DBI, sets policy, hears various appeals on issues leading up to the issuance of building permits, 
				sits as the Abatement Appeals Board to hear appeals of Director's Orders of Abatement, and provides a public forum through their monthly meetings. 
			</p>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-building-o">&nbsp; </span> Location &amp; Hours</h3>
		</div>
		<div class="panel-body">
			<span class="bold">1660 Mission Street, 6th Floor
			<br />8:00am - 5:00pm Monday through Friday</span>
			<br /><span class="fa fa-phone" title="Phone">&nbsp;</span> (415) 558-6164
			<br /><span class="fa fa-fax" title="Fax">&nbsp;</span> (415) 558-6509
		</div>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> The BIC Commission Members</h3>
		</div>
		<div class="panel-body">
			<div class="bottom-margin">
				The Mayor appoints four positions and the President of the Board of Supervisors appoints three. Currently, the Building Inspection Commission consists of the following:
			</div>
			<div class="staff clearfix">
				<ul class="staff-info">
					<li class="staff-photo-cell"><div class="staff-photo angus-mccarthy"></div></li>
					<li class="staff-info-cell">
						<b><nobr>Angus McCarthy</nobr> 
						<br />President</b>
						<br /><small>Appointed by the Mayor
						<br />Residential Builder Seat</small>
					</li>
				</ul>
				<ul class="staff-info">
					<li class="staff-photo-cell"><div class="staff-photo warren-mar"></div></li>
					<li class="staff-info-cell">
						<b><nobr>Warren Mar</nobr>
						<br />Vice President</b>
						<br /><small>Appointed by President of the Board of Supervisors
						<br />Residential Landlord Seat</small>
					</li>
				</ul>
				<ul class="staff-info">
					<li class="staff-photo-cell"><div class="staff-photo kevin-clinch"></div></li>
					<li class="staff-info-cell">
						<b><nobr>Kevin Clinch</nobr>
						<br />Commissioner</b>
						<br /><small>Appointed by the Mayor
						<br />Licensed Structural Engineer Seat</small>
					</li>
				</ul>
				<ul class="staff-info">
					<li class="staff-photo-cell"><div class="staff-photo frank-lee"></div></li>
					<li class="staff-info-cell">
						<b><nobr>Frank Lee</nobr>
						<br />Commissioner</b>
						<br /><small>Appointed by the Mayor
						<br />Architect Seat</small>
					</li>
				</ul>
				<ul class="staff-info">
					<li class="staff-photo-cell"><div class="staff-photo james-mccray"></div></li>
					<li class="staff-info-cell">
						<b><nobr>Dr. James McCray, Jr.</nobr>
						<br />Commissioner</b>
						<br /><small>Appointed by the Mayor
						<br />Non-Profit Housing Seat</small>
					</li>
				</ul>
				<ul class="staff-info">
					<li class="staff-photo-cell"><div class="staff-photo myrna-melgar"></div></li>
					<li class="staff-info-cell">
						<b><nobr>Myrna Melgar</nobr>
						<br />Commissioner</b>
						<br /><small>Appointed by President of the Board of Supervisors
						<br />General Public Seat</small>
					</li>
				</ul>
				<ul class="staff-info">
					<li class="staff-photo-cell"><div class="staff-photo debra-walker"></div></li>
					<li class="staff-info-cell">
						<b><nobr>Debra Walker</nobr>
						<br />Commissioner</b>
						<br /><small>Appointed by President of the Board of Supervisors
						<br />Tennant Seat</small>
					</li>
				</ul>
				<ul class="staff-info">
					<li class="staff-photo-cell"><div class="staff-photo sonya-harris"></div></li>
					<li class="staff-info-cell">
						<b><nobr>Sonya Harris</nobr>
						<br />Commission Secretary</b>
						<br /><span class="fa fa-phone" title="Phone">&nbsp;</span> (415) 558-6164
						<br /><span class="fa fa-fax" title="Fax">&nbsp;</span> (415) 558-6509
						<br /><span class="fa fa-envelope" title="Email">&nbsp;</span>&nbsp;<a href="mailto:Sonya.Harris@sfgov.org">Sonya.Harris@sfgov.org</a>
					</li>
				</ul>
 			</div>
		</div>
	</div>

</div>
