<div id="directors-message">
	<div id="links">

		<div class="btn-group">
			<button type="button" class="btn btn-default">Documents and Links</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu right-aligned" role="menu">
				<li class="bold section-header">Protocols and Procedures</li>
				<li><a href="http://dbi-intranet/dbi_files/Director/Docs/CommunicationsProtocol.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Communications Protocol</span></a></li>
				<li class="divider"></li>
				<li class="bold section-header">BPR Reports (2007)</li>
				<li><a href="http://sfdbi.org/ftp/uploadedfiles/dbi/CCSFDBIBPRSummaryReportDec2007.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">BPR Summary Report</span></a></li>
				<li><a href="http://sfdbi.org/ftp/uploadedfiles/dbi/CCSFDBIBPRReportDec2007.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">BPR Full Report</span></a></li>
				<li><a href="http://sfdbi.org/ftp/uploadedfiles/dbi/Final%20BPR%20Staff%20Report.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">BPR Staffing Report</span></a></li>
				<li><a href="http://sfdbi.org/ftp/uploadedfiles/dbi/DBI%20BPR%20Implementation%20Plan%20Approved%20by%20BIC%2004-28-08.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">BPR Implementation Plan</span></a></li>
				<li class="divider"></li>
				<li class="bold section-header">Fee Study (2008)</li>
				<li><a href="http://dbi-intranet/dbi_files/Director/Main/FinalWebMatrix_final_report_4-24-08.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Fee Study Report and Matrix</span></a></li>
				<li><a href="http://dbi-intranet/dbi_files/Director/Main/Staff_Report_on_Fee_Study_for_reproduction.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Staff Report on Fee Study</span></a></li>
			</ul>
		</div>
	</div>

	<h3 class="bold no-top-margin">Director's Office</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-comment">&nbsp; </span> A Message from The Director</h3>
		</div>
		<div class="panel-body">
			<p>
				Welcome to DBI&#039;s Intranet web site. This site is designed to provide all DBI employees with accurate, current and easy-to-access information about the Department&#039;s divisions and professional services. With virtually all our key resources just a few clicks away on your computers, all DBI staff now has an enhanced ability to respond immediately, accurately and completely to the widest possible range of customer questions you may encounter in your jobs on a daily basis.  
			</p>
			<p>
				I encourage everyone at DBI to take a close look at this new tool where you will find the names and contact information of all key managers responsible for the Department&#039;s professional services, as well as important forms, policies, technical explanations and other matters of interest to San Franciscans.
			</p>
			<p>
				If you have additional items for this site you believe would enable everyone within the Department to be more customer-responsive, please send your suggestions to our content maintenance team. Our goal is to make this new Intranet site the 'go-to' resource for all management and staff to locate the most current actions adopted within the Department.
			</p>
			<p>
				Thank you for your invaluable services to DBI and to all San Franciscans. Let&#039;s continue to work together to make the Department more effective, efficient, predictable and customer-responsive.
			</p>
			<p class="bold italic">		
				Tom C. Hui, S.E., C.B.O.,<br/>
				Director 
			</p>
		</div>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-certificate">&nbsp; </span> Purpose</h3>
		</div>
		<div class="panel-body">
			<p>
				The Function of the Director&#039;s Office is to provide departmental leadership, set policies, and support all programs within the Department in order to implement established goals, objectives and mandates, and to take actions that ensure the safeguarding of life and property within the City.
			</p>
		</div>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-sitemap">&nbsp; </span> Staff</h3>
		</div>
		<div class="panel-body">
			<div id="staffpanel" class="staff clearfix">
				<!-- dynamically generated -->
			</div>
		</div>
	</div>
</div>