<div id="resources">
	<h3 class="bold no-top-margin">DBI Resources</h3>
	<div class="clearfix head-spacer"></div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-book">&nbsp; </span> California Building Codes</h3>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/codes" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">2013 California Building Code (Online)</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/codes" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">2013 California Energy Code (Online)</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/codes" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">2013 San Francisco Amendments to the California Building Codes (Jan 1, 2010)</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/administrative-bulletins" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">SF Building Code - Administrative Bulletins</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/information-sheets" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">SF Building Code - Information Sheets</span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-leaf">&nbsp; </span> Green Buildings</h3>
			<span class="back-to-top"><span class="fa fa-arrow-up">&nbsp;</span>&nbsp; Back to Top</span>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td class="bold"><a href="http://dbi-intranet/dbi_resources/Green_Resources.htm" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">Green Building Organizations and Documents</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="/dbi_files/Codes/Green_Buildings/Proposed/CGBC_Proposed_2010_Standards.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Building Standards Code Initial Statement of Reasons</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="/dbi_files/Codes/Green_Buildings/Proposed/CGBC_Proposed_2010_Amendments.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Building Standards Code Express Terms</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="/dbi_files/Codes/Green_Buildings/Proposed/CGBC_Proposed_0709.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Housing and Community Development Initial Statement of Reasons</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="/dbi_files/Codes/Green_Buildings/Proposed/CGBC_Draft_Terms_0709.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Housing and Community Development Express Terms</span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-plug">&nbsp; </span> Electrical Code Interpretations &amp; Guidelines</h3>
			<span class="back-to-top"><span class="fa fa-arrow-up">&nbsp;</span>&nbsp; Back to Top</span>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td class="bold"><a href="/dbi_files/Codes/Electrical/Code_Interpretations/SFEC_Interp2007_1.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Laundry Circuits and Receptacle Outlets in Dwelling Units</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="/dbi_files/Codes/Electrical/Code_Interpretations/SFEC_Interp2007_2.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Protection from Physical Damage</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="/dbi_files/Codes/Electrical/Code_Interpretations/SFEC_450_13BGuide.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Guidelines for Installing Transformers in Hollow Spaces</span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-pencil-square-o">&nbsp; </span> Forms</h3>
			<span class="back-to-top"><span class="fa fa-arrow-up">&nbsp;</span>&nbsp; Back to Top</span>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td class="bold">Records Management Division</td>
				</tr>
				<tr>
					<td class="bold"><a href="/pdf/rmd/Internal_Request.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Internal Request Form</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/sites/sfdbi.org/files/migrated/FileCenter/Documents/forms/3R_Records_Management/3RApplication092713.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Application for Report of Residential Building Record</span></a></td>
				</tr>
				<tr>
					<td class="bold">Electrical</td>
				</tr>
				<tr>
					<td class="bold"><a href="/dbi_files/Divisions/EID/Docs_and_Forms/EID_Fee_Schedule.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Electrical Permit Fee Schedule</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/sites/sfdbi.org/files/migrated/FileCenter/Documents/forms/Inspection_Services/Electrical_Permit_Worksheet_2013.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Electrical Permit Worksheet</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/sites/sfdbi.org/files/migrated/FileCenter/Documents/forms/Inspection_Services/Electrical_Permit_Worksheet_2013.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Solar Permit Worksheet</span></a></td>
				</tr>
				<!--tr>
					<td class="bold">Documents</td>
				</tr-->
			</tbody>
		</table>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-files-o">&nbsp; </span> Documents</h3>
			<span class="back-to-top"><span class="fa fa-arrow-up">&nbsp;</span>&nbsp; Back to Top</span>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/sites/sfdbi.org/files/migrated/FileCenter/Documents/forms/Inspection_Services/Affidavit_Carbon_Monoxide_and_Smoke_Alarm_September_2013.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Affidavit Self Certification For The Installation Of Carbon Monoxide And Smoke Alarms</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="/dbi_files/Resources/Plancheck_Fee_Calc.htm" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">Plancheck Fee Calculator</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://dbi-intranet/dbi_files/Resources/DBI_Dates2a.htm" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">Jobcard and Permit Expiration Calculator</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://learnwageworks.com/ccsf/ccsfclipper.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">How to set up your Clipper Card with your Commuter Benefits Account</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="/dbi_files/Resources/Flood_Plain_Ordinance/Floodplain_Ordinance.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">New Floodplain Ordinance - Effective March 23, 2009</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="/dbi_files/Docs/Fee_Calc.xls" 
					   target="_blank"><span class="fa fa-file-excel-o">&nbsp;</span>&nbsp;<span class="text">DBI Fee Calculator</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="/dbi_files/Docs/Security Certificate Installation Instructions.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Fee Calculator Security Certificate Installation Instructions</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/fees" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">DBI Fees</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/sites/sfdbi.org/files/Condo_%20Inspection_%20Handout_%20July_2014ADA.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">SF Condo Conversion - Physical Inspections Application and Handout</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/sites/sfdbi.org/files/migrated/FileCenter/Documents/forms/Inspection_Services/Special_Inspection_Notice_12_23_13.pdf" 
					   target="_blank"><span class="fa fa-file-pdf-o">&nbsp;</span>&nbsp;<span class="text">Special Inspections</span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-primary clearfix">
		<div class="panel-heading">
			<h3 class="panel-title bold"><span class="fa fa-external-link">&nbsp; </span> Helpful Links</h3>
			<span class="back-to-top"><span class="fa fa-arrow-up">&nbsp;</span>&nbsp; Back to Top</span>
		</div>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td class="bold"><a href="http://www.cslb.ca.gov/" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">California Contractors State License Board</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://www.sf-planning.org/" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">Planning Department</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://bsmnt.sfdpw.org/bsm.htm" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">Bureau of Street-Use &amp; Mapping</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfdbi.org/codes" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">San Francisco Building Codes</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://www.iccsafe.org/" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">International Code Council (ICC)</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://www.iapmo.org/Pages/2013CaliforniaPlumbingCode.aspx" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">International Association of Plumbing and Mechanical Officials (IAPMO)</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://sfcontroller.org/modules/showdocument.aspx?documentid=5880" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">City Payroll and Holiday Calendar</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://www.sfgov.org/" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">SFGOV - City Website</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://10.1.3.30/" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">SFGOV Intranet</span></a></td>
				</tr>
				<tr>
					<td class="bold"><a href="http://www.ccsf.edu/" 
					   target="_blank"><span class="fa fa-external-link">&nbsp;</span>&nbsp;<span class="text">City College of San Francisco</span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$(".back-to-top").on("click", function (evt) {
			window.scrollTo(0,0);
		});
	});
</script>