body {background-color:#efefef;}
.bold {font-weight: bold;}
.italic { font-style:italic; }
.no-top-margin {margin-top:0 !important;}
.bottom-margin {margin-bottom:15px;}
.bordered {border: 1px solid #ccc;}
.glyphicon .text, .glyphicon a {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;}
.fa {width: 15px;}
.fa-file-pdf-o {color:red;}
.fa-file-word-o {color:blue;}
.fa-file-excel-o {color:green;}
.container {margin:15px auto; background-color:#fff; border-radius:10px; box-shadow: 0 2px 5px #333;}
#logo { text-align: center;}
#logo img {max-width: 165px; margin-top:15px; cursor:pointer;}
#mission-statement {font-size: 12px; max-width:700px;}
#date { width:100%; text-align: center; padding-top: 10px; font-size:12px; font-weight:bold;}
/* .sidebar {border-right:2px solid #36c;} */
#sidenav { margin: 15px 0; }
#AppContent {width:100%;}
#AppContent #spinner { width: 50px; margin: 10px auto;}
/* #appContentRegion { border-left:2px solid #36c; } */
#address {font-size:14px;}
#suggestions {font-size:12px; font-weight: bold; margin-top:15px; text-align:center;}
.section-header {padding-left:10px;}
.right-aligned { left:auto; right:0; }
.head-spacer {height:9px;}

#links {float:right; z-index: 20000;}
.panel-links {list-style-type: none; padding-left:0;}
.link-item { display:inline-block; max-width:210px; min-height:200px; margin:0 10px 15px 0; padding:10px; text-align:center; vertical-align:middle; border:1px solid #ccc; border-radius:10px;}
.link-item:hover {box-shadow: 0 0 5px #357ebd; }
.link-image {max-height:100px;}
.back-to-top {float:right; color:#fff; position: relative; top: -18px; text-shadow: 1px 1px 2px #000; cursor: pointer;}
#resources td {padding-left:15px;}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,#sidenav .active{ 
	background-color:#357ebd;
	background-image:-moz-linear-gradient(top,#428bca 0,#357ebd 100%);
	background-image:-webkit-linear-gradient(top,#428bca 0,#357ebd 100%);
	background-image:-o-linear-gradient(top,#428bca 0,#357ebd 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#428bca),to(#357ebd));
	background-image:linear-gradient(to bottom,#428bca 0,#357ebd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6699ff', endColorstr='#ff3366cc', GradientType=0);
	background-repeat:repeat-x;
	color:#fff;
	text-shadow: none;
}
.panel-title {text-shadow: 1px 1px 2px #000;}

#staffpanel > .header { font-size:16px; font-weight:bold; color:#357ebd;  margin: 0 0 15px;}

.split-column {clear:both;}
.split-column > div {display: table-cell; position:relative; }
.split-column > .main-column {top: -30px; padding-right:15px; vertical-align: top;}
.split-column > .right-column {width: 230px; max-width:225px; text-align:right; padding-top:15px;}
#calendar-container { height:185px; width:230px; padding:5px; text-align:center; vertical-align:middle; position: absolute; top: 15px; right: 0; border: 1px solid #ccc; border-radius: 5px; background-color:#fff;}
.calendar-header { font-weight:bold; margin-bottom:5px; }
#events-calendar-container {clear:both; position: relative; top: -25px; }
#social-media-container {clear:both; left: 0; text-align:center; }
#twitter-feed {max-width:230px; margin-bottom:15px;}
.timeline-header {background-color:#3465A4; color:#fff;}
#carousel-container {max-width:640px; min-height:250px; border-radius:15px; text-align:center;}
#carousel-container > .image {background-color: #003; vertical-align:middle; text-align:center; min-width:100px; max-width:150px;max-height:300px;}
.carousel-text { font-size:16px; text-align:center;}
.overlay-text { position: relative; top: 58px; color: white; font-size: 10px; font-weight:bold; left: -4px; padding:2px; margin: 0 22px; 
	background-color:#3465A4;
	background-image:-moz-linear-gradient(left,#729FCF 0,#3465A4 100%);
	background-image:-webkit-linear-gradient(left,#729FCF 0,#3465A4 100%);
	background-image:-o-linear-gradient(left,#729FCF 0,#3465A4 100%);
	background-image:-webkit-gradient(linear,left top,right top,from(#729FCF),to(#3465A4));
	background-image:linear-gradient(to right,#729FCF 0,#3465A4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff729FCF', endColorstr='#ff3465A4', GradientType=90);
	background-repeat:repeat-x;
}
a:hover>.overlay-text { color:#fff; }
.director-comment {font-size:22px; margin-right:10px;}
footer {padding:15px 0 5px;text-align:center; font-size:10px;}


/* Tooltips for calendar hover */
a.tooltips {
  position: relative;
  display: inline;
	z-index: 19000;
}
a.tooltips span {
  position: absolute;
  width:auto;
  color: #000000;
  background: #FFFFFF;
  border: 2px solid #6D6D6D;
  height: auto;
  line-height: 1.2em;
  text-align: center;
	padding:5px;
  /*visibility: hidden;*/
  border-radius: 6px;
  box-shadow: 1px 1px 0px #000000;
}
a.tooltips span:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-bottom: 12px solid #6D6D6D;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #FFFFFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
/*  visibility: visible;
  opacity: 0.8; 
  top: 30px;
  left: 50%;
  margin-left: -76px;*/
  z-index: 999;
}

