<!--div id="navigation" class="btn-group">
	<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-list"></span> </button>
</div-->
<div id="sidenav" class="btn-group-vertical">
	<a href="/" class="btn btn-default home">Home</a>
	<a href="#director" class="btn btn-default director">Director's Office</a>
	<a href="#bic" class="btn btn-default bic">BIC</a>

	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Permit Services
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#permitservices">Permit Services</a></li>
			<li><a href="#cpb">Central Permit Bureau</a></li>
			<li><a href="#helpdesk">Help Desk</a></li>
			<li><a href="#initialplanreview">Initial Plan Review</a></li>
			<li><a href="#planreview">Plan Review Services</a></li>
			<li><a href="#mechplanreview">Energy/Mechanical Plan Review Services</a></li>
			<li><a href="#technicalservices">Technical Services Division</a></li>
			<li><a href="#mis">Management Information Services</a></li>
		</ul>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Inspection Services
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#inspectionservices">Inspection Services</a></li>
			<li><a href="#bid">Building Inspection Division</a></li>
			<li><a href="#eid">Electrical Inspection Division</a></li>
			<li><a href="#pid">Plumbing Inspection Division</a></li>
			<li><a href="#ces">Code Enforcement Section</a></li>
			<li><a href="#his">Housing Inspection Services</a></li>
			<!--li><a href="#dbiofficeops">Office Operations</a></li-->
		</ul>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Admin Services
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#adminservices">Administrative Services</a></li>
			<li><a href="#finance">Finance Services</a></li>
			<li><a href="#pp">Personnel &amp; Payroll Division</a></li>
			<li><a href="#rmd">Records Management Division</a></li>
		</ul>
	</div>
	<!--div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Phone Directory
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#departmentphonedir">Department Phone Directory</a></li>
			<li><a href="#employeephonedir">Employee Phone Directory</a></li>
		</ul>
	</div-->
	<a href="#resources" class="btn btn-default calendar">DBI Resources</a>
	<!--a href="http://sfdbi.org/events" target="_blank" class="btn btn-default calendar">Calendar / Events</a-->
	<!--a href="#contact" class="btn btn-default contact">Contact Us</a-->
</div>

<!--ul id="sidenav" class="nav nav-pills nav-stacked">
	<li class="nav-item home"><a href="#">Home</a></li>
	<li class="nav-item bic"><a href="#bic">BIC</a></li>
	<li class="nav-item permitservices"><a href="#permitservices">Permit Services</a>
		<div class="sub-nav">
			<ul id="sidenav" class="nav nav-pills nav-stacked">
				<li class="nav-item planreview"><a href="#">Plan Review</a></li>
			</ul>			
		</div>
	</li>
</ul-->
